* {
  padding: 0;
  margin: 0;
  border: 0;
}

@import "./src/drawer/Drawer.scss";

.container {
  position: relative;

  .drawer {
    font-family: 'Sulphur Point', 'Microsoft YaHei';
  }
  .title-bar {
    position: sticky;
    top: 0;
    height: 64px;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 5px 0 #E3E3E3;
    user-select: none;
    font-family: 'Sulphur Point', 'Microsoft YaHei';
    background: #FFF;
    z-index: 1;
    .btn {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
        border-radius: 50%;
      }

      &:hover::after {background-color: #F3F3F3;}
      &:hover {cursor: pointer;}
    }

    .drawer-handler {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    
      .iconfont {font-size: 12px;}
    }
    a {
      text-decoration: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-right: 20px;

      .badge {
        height: 48px;
        width: 48px;
        background: url(./assets/icon/icon.svg);
        background-size: cover;
        margin-right: 10px;
      }
  
      .label {
        color: #FF6384;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 30px;
      }
    }
    .title {
      margin: 0 auto;
      flex: 1;
      max-width: 640px;
      text-align: center;
    }
    .option {
      width: 210px;
      height: 100%;
      margin-left: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .avatar  {
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          object-position: center;
        }
      }
      .follow-me {
        width: 48px;
        height: 48px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        transform: scale(-1, 1);
        position: relative;

        .iconfont {
          color: #FF6384;
          font-size: 20px;
          transition: 300ms all;
        }

        &::before {
          content: "";
          z-index: -1;
          background-color: #FF6384;
          position: absolute;
          width: 100%;
          height: 0;
          transition: 300ms all;
          left: 0;
          top: 0;
        }
        
        &:hover {
          cursor: pointer;
          .iconfont {color: #FFF;}
          &::before {
            bottom: 0;
            height: 100%;
            top: unset;
          }
        }
      }
    }
  }

  .main-content {
    background-color: #F9F9F9;
    padding-top: 3em;
    .main-wrapped {

      margin: 0 auto;
      width: calc(100% - 2*280px);;
    }
  }
}