.drawer {
  position: fixed;
  width: 280px;
  height: 100vh;
  overflow-y: auto;
  user-select: none;
  top: 0;
  z-index: 10;
  background-color: white;
  margin-left: -280px;
  transition: 300ms all;
  display: flex;
  flex-flow: column nowrap;

  .banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0.5px #AAA;
    margin-bottom: 5px;
    .icon {
      width: 180px;
      height: 180px;
      background: url(./assets/icon/banner.svg);
      background-size: cover;
      background-position: center;
    }
  }
  .tab {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .active {
      position: absolute;
      top: -3em;
      width: 5px;
      background-color: #FF6384;
      height: 3em;
      transition: 300ms all;
      display: none;
    }

    .item {
      box-sizing: border-box;
      height: 3em;
      padding: 0 2em;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      color: rbga(0, 0, 0, 0.87);
      position: relative;
      transition: 500ms all;
      
      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 100%;
        transition: 500ms all;
        background-color: rgba(0, 101, 255, 0.25);
        z-index: -1;
        left: 0;
      }
      &:hover {
        cursor: pointer;
        background-color: #EAEAEA;
      }

    }
    .item-active {
      color: #FF6384;
      background-color: unset !important;
      &::after {
        width: 100%;
        right: 0;
        left: unset;
      }
    }
  }
}
.pull {
  margin-left: 0;
  box-shadow: 1px 0 20px 6px #E3E3E3;
}